@import"variables";
body{
    background-image:url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    background-color: $maincolor;
    width: 100%;
    .conteiner{
        @extend%flexrow;
        align-items: center;
        .logo{
            img{
                width: 15vw;
                height: 15vw;
            }
        }
        .menu{
            display: flex;
            margin-left: 30%;
            margin-top: 12%;
            margin-right: 20%;
            ul{
                @extend%flexrow;
                li{
                   list-style: none; 
                   a{
                        font-size:x-large;
                        margin: 10px;
                        font-family: 'Inconsolata', monospace;
                        text-decoration: none;
                        color: black;
                        font-weight: bolder;
                        &hover{
                            color:rgb(242, 68, 5) ;
                        }
                   }
                }
            }
        }
    }
}
footer{
    background-color:$maincolor ;
    color: #fff;
    padding: 10px;
    align-items: center;
}
@media screen and (max-width: 768px){
    header{
        display: block;
        flex-direction: column;
        width: 100%;
        font-size: 16%;
        font-weight: normal;
        .conteiner{
            display: block;
            flex-direction: column;
            width: 100%;
            .logo{
                width: 100%;
                display: block;
        
             }
             .menu{
                margin: 0;
                nav{
                    display: block;
                    ul{
                        float: none;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        li a{
                            font-size: small;
                            
                         }
                      }
                 }
             }
         }
     }
     .contenedorpadre{
        display: block;
        flex-direction: column;
        .carrucel{
            width:100%;
         }
     }
     .iconoimg{
        display: block;
        .icono img{
                width: 100%;

                }
             
        
         
         .conteinerinfo{
            margin: 0;
            padding: 5px;
            .conteinerinfo p{
                font-size: 10px;
        
             }
         }

     }
}